*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashed-border{
    border: 2px black dashed;
}

/* header e navigatore */

header{
    background-color:aqua;
    padding: 15px;
}

.head-container{
    display: flex;
    background-color: orange;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}


header .logo, header nav, header .login{
    display: flex;
}


header .logo, header .login{
    flex-grow: 1;
    padding: 10px;
}

header .login{
    justify-content: flex-end;
}

header nav{
    flex-grow: 2;
    justify-content: center;
}

nav a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

/* section one */

.section-one{
    background-color: darkblue;
    padding: 40px;
    display: flex;
    justify-content: center;
    border-bottom: 5px solid lightblue;
}

.container-one{
    width: 50%;
    height: 300px;
    background-color:plum;
}

/*section two */

.section-two{
    padding: 40px;
    display: flex;
    justify-content: center;
}

.container-two{
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.content-two-sx{
    background-color: cornflowerblue;
    flex-grow: 3;
}

.content-two-dx{
    background-color: pink;
    flex-grow: 2;
}

/* section three */

.section-three{
    padding: 40px;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

.container-three{
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.content-three-sx{
    background-color: pink;
    flex-grow: 2;
}

.content-three-dx{
    background-color:cornflowerblue;
    flex-grow: 3;
}

/* section four */

.section-four{
    padding: 40px;
    display: flex;
    justify-content: center;
}

.container-four{
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.content-four-sx{
    background-color: cornflowerblue;
    flex-grow: 3;
}

.content-four-dx{
    background-color: pink;
    flex-grow: 2;
}

/* section five*/

.section-five{
    padding: 40px;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

.container-five{
    width: 70%;
    height: 700px;
    background-color: green;
}

